---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero';
import ValueProps from '../components/ValueProps';
import SprintTimeline from '../components/SprintTimeline';
---

<BaseLayout>
  <div class="pt-16 sm:pt-20 min-h-screen bg-blue-50">
    <Hero client:load calendarLink="https://cal.com/2weekstosolve" />
    <ValueProps />
    <SprintTimeline />
  </div>
</BaseLayout>
